body {
  height:100%;
  background-size:25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/Logo_Transparent.svg");
  background-attachment: fixed;
  background-color:#BDD5F4;
}
.cursor-pointer {
    cursor: pointer;
}
.form-control::placeholder {
    opacity: 0.5;  
  }
.overlay{
    z-index:5000;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2)
}

.saug-spinner {
    width: 4rem;
    height:4rem;
    position:fixed;
    left:calc(50% - 2rem);    
    top:calc(50% - 2rem);
}
.navbar{
    padding-top:10px;
    padding-bottom: 10px;    
    border-bottom: 1px solid #AAA;
}
label:not(.form-check-label) {
    font-size:0.75rem;
    opacity: 0.8;
}
.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.multiselect--disabled {
    opacity: 1;
}
.multiselect__tag {
    background-color: #18bc9c;
}

/* Sticky footer styles
-------------------------------------------------- */

body, html {
  height: 100%;
  margin: 0;
}
#app {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}
.content {
  margin-top:60px;
  margin-bottom:60px;
  flex: 1; /* Permet au contenu de prendre l'espace restant */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: #f5f5f5;
  z-index: 999;
  border-top: 1px solid #AAA;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .fa-big {
    font-size: 1.5rem;
    padding-left:10px;
    padding-right:10px;
    transition: transform .2s;
  }
  a:not(.inactive) .fa-big:hover {
    transform: scale(1.5);
  }
  .form-switch {
    text-align:center;
  }
  .form-switch .form-check-input {
    height:1.4em;
    width:3em;
    margin-top:0.3em;
  }
  .form-switch .form-check-input {
    float:none !important;
  }
  a.inactive{
    cursor: default;
    color: gray;
}


.statut1 td:first-child {
  background-color:#FFE5A0 !important;
  color:#7D3821 !important;
}
.statut2 td:first-child {
  background-color:#D4EDBC !important;
  color:#11825C !important;
}
.statut3 td:first-child {
  background-color:#11734B !important;
  color:#D4EDBC !important;
}
.statut4 td:first-child {
  background-color:#B10202 !important;
  color:#FFCFC9 !important;
}
.statutdelete td:first-child {
  background-color:#660707 !important;
  color:#DDD !important;
}
.fs-sm {
  font-size: 0.85rem;
}