body {
  height:100%;
  background-size:400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/Logo_Transparent.svg");
  background-attachment: fixed;
  background-color: #F3F3F3;
}
.cursor-pointer {
    cursor: pointer;
}
.form-control::placeholder {
    opacity: 0.5;  
  }
.overlay{
    z-index:5000;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.2)
}

.saug-spinner {
    width: 4rem;
    height:4rem;
    position:fixed;
    left:calc(50% - 2rem);    
    top:calc(50% - 2rem);
}
.navbar{
    padding-top:10px;
    padding-bottom: 10px;    
    border-bottom: 1px solid #AAA;
}
label:not(.form-check-label) {
    font-size:0.75rem;
    opacity: 0.8;
}
.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}
.multiselect--disabled {
    opacity: 1;
}
.multiselect__tag {
    background-color: #18bc9c;
}

/* Sticky footer styles
-------------------------------------------------- */

body, html {
  height: 100%;
  margin: 0;
}
#app {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}
.content {
  margin-bottom:60px;
  flex: 1; /* Permet au contenu de prendre l'espace restant */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .fa-big {
    font-size: 1.5rem;
    padding-left:10px;
    padding-right:10px;
    transition: transform .2s;
  }
  a:not(.inactive):hover .fa-big {
    transform: scale(1.3);
  }

.footer .col:hover {
  background-color: rgba(0,0,0,0.1);
}
  .form-switch {
    text-align:center;
  }
  .form-switch .form-check-input {
    height:1.4em;
    width:3em;
    margin-top:0.3em;
  }
  .form-switch .form-check-input {
    float:none !important;
  }
  a.inactive{
    cursor: default;
    color: gray;
}

.statut {
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.9rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color:#FFF;
}
.statut1 {
  background-color:#FFE5A0 !important;
  color:#7D3821 !important;
}
.statut2 {
  background-color:#D4EDBC !important;
  color:#11734B !important;
}
.statut3 {
  background-color:#11734B !important;
  color:#D4EDBC !important;
}
.statut4 td {
  background-color: #6c757d !important;
    color: #cfddd8 !important;
}
.statut4{
  background-color:#B10202 !important;
  color:#FFCFC9 !important;
}
.statut5 {
  background-color:#683b82 !important;
  color:#FFF !important;
}
.fs-sm {
  font-size: 0.85rem;
}
.fs-xs {
  font-size: 0.75rem;
}
.hint:after, [data-hint]:after {
    white-space: pre;
}
.date-block {
  background-color: rgba(255,255,255,0.7);
  padding-top:6px;
  padding-bottom:6px;
  cursor: pointer;
  transition: background-color .2s;
}
.date-block:hover {
  background-color: rgba(255,255,255,1);
}
.row:has(.date-block) {  
  border-left: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
}
.row:has(.date-block:hover) {
  border-right: 1px solid rgba(0,0,0,0.3);
  border-left: 1px solid rgba(0,0,0,0.3);
}
.vehicule {
  display:flex; 
  justify-content: flex-end; 
  gap:5px;
}
.no-underline {
  text-decoration:none;
}
.footer .small {
  font-size: 0.75em;
}
.footer .col {
  padding:0;
}
.footer a {
  display: block;
  padding:8px 0;
  height: 100%;
  width: 100%;
  color:#EEE;
}
.sticky-title {
  position: sticky;
  top: 0;
  z-index: 900; 
}
#event .col {
  padding :0;
}
#event .card-header:first-child {
  border-radius: 0 ;
}
#event .card {
  border: none;
  border-radius: 0;
}
.link-disabled {
  pointer-events: none;
  cursor: default;
}
.min-vh-dynamic {
    min-height: 100dvh;
}
.big-title {
  font-variant: small-caps;
  font-size: 250%;
}